@use "/src/scss/mixins" as *;
@use "/src/scss/variables" as *;

.searchBox {
    background-color: #FFD369;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    input {
        background-color: #EEEEEE;
        border: 1px solid #e0ad34;
        border-radius: 10px;
        width: 65%;
        padding: 15px;

        @include mobile {
            width: 95%;
            padding: 20px;
        }

        @include tablet {
            width: 90%;
        }

        &:active, &:focus {
            outline: none;
        }
    }
}