
@use "/src/scss/mixins" as *;
@use "/src/scss/variables" as *;

.header {
    background-color: #000;
    color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
    object-fit: cover;
    background-position: center;
    position: relative;

    h1 {
        font-size: 3rem;
        z-index: 1;

        @include mobile {
            font-size: 1.5rem;
        }
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.342);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}