@use "/src/scss/mixins" as *;
@use "/src/scss/variables" as *;

.nav {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222831;
    color: rgb(245, 245, 245);

    a {
        text-decoration: none;
        color: white;

        &:hover, &:visited {
            color: white;
        }
    }
}